.container {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgb(0, 0, 0, 0.5);
}

.addTaskCont {
  margin: 1rem;
}

.addTask {
  position: relative;
  max-width: 31rem;
  background-color: #fff;
  margin: 0 auto;
  border: 1px solid #000;
  border-radius: 1rem;
  z-index: 1;
  padding: 1rem;
}

.deleteTask {
  height: 13rem;
}

.heading {
  margin: 1rem;
  display: flex;
}

.hdr {
  flex-grow: 1;
}

.close {
  font-weight: bold;
  font-size: 1.5rem;
  display: inline-block;
  cursor: pointer;
}

.input {
  width: 80%;
  font-size: 1rem;
  padding: 0.5rem;
  border: 1px solid #999;
  margin-bottom: 1rem;
}

.subHdr {
  display: block;
  font-weight: bold;
  color: #777;
  margin: 0.5rem;
  font-size: 1.1rem;
}

.error {
  color: #f00;
  display: none;
}

.show {
  display: block;
}
